body{
    margin: 0px;
    padding: 0px;
    font-family: Salesforce Sans;
    box-sizing: border-box;
    
}
.navbar{
    height:96px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    
}
.nav-logo{
    position: relative;
    left:10px;
    top:5px;
    height: 70px;
    width: 100px;
    margin:10px;
    padding:10px;
}
.nav-text{
    margin-left:30px;
}
.nav-text a,select{
    color:#032d60;
    font-size: 16px;
   
    text-decoration: none;
    position: relative;
    right:30px;
    padding:0px 16px 0px 16px;
    font-weight: bolder;
    width:100%;

}
select{
    border: none;
    width: fit-content;
}
.nav-contact a,span{
    color: #032d60;
    display: block;
    text-align: center;
   
}
.utility{
    margin:0px 16px 0px 16px;
    width: 325px;
    display: flex;
    align-items: center;
}
.w{
    margin-left: 30px;
    
}
.user{
    display: flex;
    align-items: center;
    color: #032d60;
}
.fa-solid{
    margin-right: 5px;
}
.button1 button{
    width: 120px;
    height: 40px;
    background-color: #2e844a;
    border-radius: 5px;
    font-family: Salesforce Sans;
    padding: 8px 24px 8px 24px;
    color: white;
    border: 1px solid #2e844a;
    position: relative;
    right: 10px;
}
.page1{
    background-image: url(/h1.webp);
    height: 500px;
    width: 100%;
    background-size: 100% ;
    background-repeat: no-repeat;
    padding: 64px 0px 64px 0px;
   position: relative;
   top:96px;
   display: flex;
}
.page1-content{
    width: 567px;
    height: 326px;
    position: relative;
    left: 50px;
    
}
.button2{
    margin-top: 50px;
    display: flex;
}
.button{
    cursor: pointer;
    
    border-radius: 4px;
    padding: 12px 32px 12px 32px;
    width:173px;
    height: 52px;
    font-size: 16px;
    border: 2px solid #0716d3;
}
.b1{
    background-color: #0716d3;
    
    
    color: white;
}
.b2{
    position: relative;
    left: 20px;
    background-color: white;
    color:#0716d3;
}
iframe{
    border-radius: 10px;

}
.video-wrapper{
    height:326px;
    width: 567px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 50px;
}
.video iframe{
    height:306px;
    width:567px;
}
.panel{
    position: relative;
    top: 96px;
    background-color: rgb(16, 2, 81);
    height: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex ;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-family: 'Salesforce Sans';
    font-weight: bolder;
}
.panel a{
    color: white;
    font-size: 16px;
}
